<div id="footer" style="margin-left: 87px;height: 100px;float:left;width:90%;">
	<!--  Copyright Line -->
   <!--  <p style="color:#999;position:relative;bottom:0;"> <span style="color:#3695D5"> For Service, </span> Call trac   Tel: +800- 4565 / 800 - 2255 8722 (800 - CALL TRAC) / Fax: +111 1 111 1111  info@trac.ae  /  Visit us at Regal Tower,  Business Bay,  Dubai,  United Arab Emirates</p> -->
    <!--  End Copyright Line -->
</div>
