
	<header class="header navbar navbar-fixed-top" role="banner">
		<!-- Top Navigation Bar -->
		<div class="container">

			<!-- Only visible on smartphones, menu toggle -->
			<ul class="nav navbar-nav">
				<li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="glyphicon glyphicons-justify"></i></a></li>
			</ul>

			<!-- Logo -->
			<a class="navbar-brand" href="#/index">
				<img src="/resources/scripts/assets/img/TRAC_logo3.png" alt="logo" />
			</a>
			<!-- /logo -->

			<!-- Sidebar Toggler -->
			<a href="javascript:void(0);" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation">
				<i class="glyphicon glyphicon-align-justify"></i>
			</a>
			<!-- /Sidebar Toggler -->

			<!-- Top Left Menu -->
			<ul class="nav navbar-nav navbar-left hidden-xs hidden-sm">
			
			</ul>
			<!-- /Top Left Menu -->

			<!-- Top Right Menu -->
			<ul class="nav navbar-nav navbar-right">
				
				
				
				<!-- User Login Dropdown -->
				<li class="dropdown user">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
						<!--<img alt="" src="assets/img/avatar1_small.jpg" />-->
						<i class="glyphicon glyphicon-user"></i>
						<span class="username">{{displayName}}</span>
						<i class="glyphicon glyphicon-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<!-- <li><a href="/resources/views/pages_user_profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a></li> -->
					 	<li ng-if="isRegisterAccessible(modules,'User') != -1"><a href="#" ng-click="redirectToSignup()"><i class=" glyphicon glyphicon-registration-mark"></i> Register User</a></li>
						<li ng-if="isModuleAccessible(modules,'User') != -1 "><a href="#/changepassword"><i class="glyphicon glyphicon-calendar"></i> Change password</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" style="cursor: pointer;" ng-click="logoutUser()"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
					</ul>
				</li>
				<!-- /user login dropdown -->
			</ul>
			<!-- /Top Right Menu -->
		</div>
		<!-- /top navigation bar -->

		
	</header> <!-- /.header -->
