@charset "utf-8";
/* CSS Document */

.tab-con{
	list-style:none;
	margin: 0px;
	padding: 0px;
	float:left;
}
.tab-con li{
	float:left;
	display:inline-block;
	padding-right:20px;
}
.tab-container{
	float:left;
	width:98%;
	margin-left: 10px;
}
.tabInactive, .inactiveTabOver, .tabActive{
	left:0px !important;
}
.cutomerDetails td{
	padding:3px;
}
.dhtmlgoodies_aTab h5{
	margin: 0;
	margin-top: 5px;
	padding: 4px 10px;
	margin-left: -5px;
	margin-right: 0px;
	width: 100.9%;
}
.listCases td, .listCases th{
	border:solid 1px #ccc;
}
.listCases th {
	background:#f8f8f8;
	padding:3px;
	text-align:center;
}
#finder .select-store{
  background: url(../img/sorting.png) no-repeat right center;
  border: medium none;
  color: #5B5A5A;
  font-family: UNIV-C,Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  padding: 3px;
  vertical-align: middle;
  -webkit-appearance: none;
  width:80px;
}
/*new tabs*/
.tabsWrapp{
	float:left;
	width:100%;
	background:#f9f9f9;
	border:solid 1px #d9d9d9;
	margin:5px 0px;
	padding:8px 0px;
}
.radioBgcolr{
	float:left;
	padding:5px 20px;
	border-radius:20px;
}