	.dhtmlgoodies_tabPane{
		height:32px;	/* Height of tabs */
		border-bottom:0px solid #d9d9d9;
		margin-top: -100px;
		background: #f9f9f9;
		float:left;
		margin-left: -5px;
		border: 0px solid #ececec;
	}
	.dhtmlgoodies_aTab{
		border-left:1px solid #d9d9d9;
		border-right:1px solid #d9d9d9;
		border-bottom:1px solid #d9d9d9;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		padding:5px;
		/*margin-top: 43px;	*/	
		
	}
	.dhtmlgoodies_tabPane DIV{
		float:left;
		height:100%;	/* Height of tabs */
		padding-left:3px;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-position:bottom left;
		cursor:pointer;
		position:relative;
		bottom:0px;
		margin-left:0px;
		margin-left:0px !important;
	}
	.dhtmlgoodies_tabPane .tabActive{
		/*background-image:url(../img/tab_left_active.png);*/
		background:#4d7496;
		border:solid 1px #356C9D;
		margin-left:0px;
		margin-right:0px;	
		z-index:10;
		color:#fff;
	}
	.dhtmlgoodies_tabPane .tabInactive{
		/*background-image:url(../img/tab_left_inactive.png);*/
		/*background:#d9d9d9;*/
		margin-left:0px;
		margin-right:0px;
		z-index:1;
	}

	.dhtmlgoodies_tabPane .inactiveTabOver{
		/*background-image:url(../img/tab_left_over.png);*/
		background:#ddd;
		margin-left:0px;
		margin-right:0px;
	}
	.dhtmlgoodies_tabPane span{
		font-family:arial;
		vertical-align:top;
		font-size:11px;
		padding-left:10px !important;
		padding-right:10px !important;		
		line-height:30px !important;
		float:left;
		/*border-right:1px solid #ccc;*/
		border-radius:0px 5px 0px 0px;
	}
	.dhtmlgoodies_tabPane .tabActive span{
		padding-bottom:1px;
		line-height:20px;
	}
	
	.dhtmlgoodies_tabPane img{
		float:left;
		
	}
	
.dhtmlgoodies_aTab{
	border:none !important;
}