
<div class="container" style="float: left; width: 100%;" ng-init="slideToTop();ifNoRecordsFound= false;">
	<!-- Breadcrumbs line -->
	<div class="crumbs">
		<ul id="breadcrumbs" class="breadcrumb">
			<!-- <li><i class="icon-home"></i> <a href="#/caseschedule">Case List</a>
			</li> -->
			
		</ul>

	
	</div>
	<!-- /Breadcrumbs line -->

	<!--=== Page Header ===-->
	<div class="page-header">
		<div class="page-title">
			<h3>Case Assign</h3>
		</div>
	</div>
	<!-- /Page Header -->

<div class="alert fade in alert-danger" ng-show="!isValidated">
					 		<i class="glyphicon glyphicon-remove-sign" ></i>
						{{serviceMessage}}
	</div> 
					
					
	<!--=== Page Content ===-->
	<div class="row">
		<div class="col-md-12">
			<div class="widget box">
				<div class="widget-header">
					<h4>
						<!-- <i class="icon-reorder"></i> --> Assign Assistance
					</h4>
					<div class="toolbar no-padding">
						<div class="btn-group">
							<!-- <span class="btn btn-xs widget-collapse"><i
								class="glyphicon glyphicon-chevron-down"></i></span> -->
						</div>
					</div>
				</div>
				<div class="widget-content">
											
								<div style="float: left; width: 100%; padding: 7px 0px 23px;">
									<input type="button" class="btn btn-primary" ng-click="fetchListOfDrivers()" value="Get List of Trucks" />
								</div>

								<table
									class="table table-striped table-bordered table-hover table-checkable datatable">
									<thead>
										<tr>
											<th>Truck Selection</th>
											<th>Truck Nickname & Plate No.</th>
											<th>Driver Name</th>
											<th>Vehicle Location</th>
											<th>Distance</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody>
										<tr class="redc" ng-repeat="driver in nearestDrivers" id="driverRow{{driver.truckDriverId}}">
											<td align="center"><input type="radio" name="assign" ng-click="setTruckDriverId(driver.truckDriverId,driver.durationvalue)"/></td>
											<td>{{driver.truckNickName}}</td>
											<td>{{driver.driverName}}</td>
											<td>{{driver.locationname}}</td>
											<td>{{driver.distancetext}}</td>
											<td>{{driver.durationtext}}</td>

										</tr>
										<tr class="redc" ng-if="ifNoRecordsFound">
											 <td colspan="5">All Trucks are busy with their respective cases</td>
										</tr>
									</tbody>
								</table>

								<div style="float: left; width: 100%;" ng-show="isApply">
									<span style="float: left; width: 100%; text-align: center; padding: 10px;">
										<input type="button" class="btn btn-primary" value="Apply" ng-click="assignCase(true)"/></span> <br />
										<!--  Note: Upon clicking Apply, SMS or Notification will be sent to the User &amp; Driver -->
								</div>
								
								<div style="float: left; width: 100%;">
									<span style="float: left; width: 100%; text-align: center; padding: 10px;">
										<input type="button" class="btn btn-primary" value="Back to Assistance" ng-click="backToMainCase()"/></span> <br/>
								</div>

							</div>

					<div style="clear:both"></div>

						</div>



					</div>
					<!-- /.row -->
				</div>
				<!-- /.widget-content -->
			</div>
			<!-- /.widget .box -->
		

