<div class="container" style="float: left;width: 100%;" ng-init="initAppPlugins()">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<li>
							<i class="glyphicon glyphicon-home"></i>
							<a href="#/caseschedule">Case Schedule</a>
						</li>
					</ul>
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>Reports</h3>
						<!-- <span>Good morning, John!</span> -->
					</div>

					<!-- Page Stats -->
					<ul class="page-stats">
                    	
					</ul>
					<!-- /Page Stats -->
				</div>
				<!-- /Page Header -->
		
						<div class="alert fade in alert-danger" ng-show="!isValidated && serviceMessage.length>0" >
							 		<i class="glyphicon glyphicon-remove"></i>
								{{serviceMessage}}
					</div> 
					<div class="alert fade in alert-success" ng-show="isValidated && serviceMessage.length>0">
			<i class="glyphicon glyphicon-ok" ></i>
						{{serviceMessage}}
	</div> 
<!--=== Blue Chart ===-->
			<div class="row" >
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i> Reports Box</h4>
							</div>
							
							
							<!-- content -->
							<div class="widget-content clearfix popupwindow" >
							<div id="191" class="combo list drop">
							<div class="wrap">
							<select id="report" class="form-control input-width-large" ng-model= "trac.report" ng-change="onReportSelect()">1
							 <option value="" selected="selected">Select Report</option>
										    <option value="trucks">Truck Report</option>
											<option value="Attendance" selected="selected">Attendance Report</option>
											<option value="Operations">Operations Report</option>
											<option value="Expenses" selected="selected">Expenses Report</option>
							</select>
							</div></div>
								<!-- Left box -->
								<div class="left-box">
									<input type="text" id="box1Filter" class="form-control box-filter" placeholder="Filter entries..."><button type="button" id="box1Clear" class="filter">x</button>
									<select id="box1View" multiple="multiple" class="multiple" ng-model= "trac.reportFields"
									ng-options="field.coulmnDisplayName for field in tableMetaDataList track by field.coulmnDisplayName" >
									</select>
									<span id="box1Counter" class="count-label"></span>
									<select id="box1Storage"></select>
								</div>
								<!--left-box -->

								<!-- Control buttons -->
								<div class="dual-control">
									<button id="to2" type="button" class="btn" ng-click="refreshSelectedList()">&nbsp;&gt;&nbsp;</button>
									<button id="allTo2" type="button" class="btn" ng-click="refreshSelectedList()">&nbsp;&gt;&gt;&nbsp;</button><br>
									<button id="to1" type="button" class="btn" ng-click="refreshSelectedList()">&nbsp;&lt;&nbsp;</button>
									<button id="allTo1" type="button" class="btn" ng-click="refreshSelectedList()">&nbsp;&lt;&lt;&nbsp;</button>
								</div>
								<!--control buttons -->

								<!-- Right box -->
								<div class="right-box">
									<input type="text" id="box2Filter" class="form-control box-filter" placeholder="Filter entries..."><button type="button" id="box2Clear" class="filter">x</button>
									<select id="box2View" multiple="multiple" class="multiple" ng-model="trac.selectedreportFields">
										
									</select>
									<span id="box2Counter" class="count-label"></span>
									<select id="box2Storage"></select>
								</div>
								<!--right box -->
								
								<div id="139" class="query-filter source-filter" ng-show="canOpen">
								<table class="clauses" id="headerRow">	
										<tbody >
											<tr class="header">
												<td class="add-remove"></td><td class="grouping disabled"><a href="#" disabled="disabled" title="Group selected clauses" style="opacity: 0.25;"></a></td><td class="groups"></td>
												<td class="logical">And/Or</td><td class="field">Field</td><td class="operator">Operator</td><td class="value">Value</td>
											</tr></tbody>
											</table>
									<table class="clauses" id="dynamicRow" ng-repeat="operandsField in operandsFieldsArray" >	
										<tbody >
											
											<tr class="clause clause-row">
												<td class="add-remove">
														<span class="glyphicon glyphicon-plus-sign" ng-click="addOperandRow($index)"></span>
														<span class="glyphicon glyphicon-remove-sign" ng-click="deleteOperandRow($index)"></span>
												</td>
												<td class="grouping"><input type="checkbox" id="andbyor{{$index}}" ng-model= "operandsField.ANDBYOR"></td>
												<td class="no-group" colspan="1"></td>
												<td class="logical"></td>
												<td class="field">
													<div id="190" class="combo list drop">
														<div class="wrap">
														 <select ng-model= "operandsField.selectedFiled" id="selectedFiled{{$index}}" ng-change="getOperandOnFieldSelect($index)" ng-options="field.selectedValueToStore for field in fieldsToBeDisplayed track by field.selectedValueToStore" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;"  ng-required="true"> 
															        <option value="" selected="selected">Select Field</option>
							                                   </select>
						                                  </div>
														<div class="drop"></div>
													</div>
												</td>
												<td class="operator">
													<div id="191" class="combo list drop">
														<div class="wrap">
															 <!-- <select ng-model= "trac.selectedOperand1" id="selectedOperand1" ng-options="field.operand for field in operandList track by field.value" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;"> -->
															  <select ng-model= "operandsField.selectedOperand" id="selectedOperand{{$index}}" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true">
							                                        <option value="" selected="selected">Select Operand</option>
							                                   </select>
														</div>
														<div class="drop"></div>
													</div>
												</td>
												<td class="value" ng-if="!operandsField.isDatePicker" >
													<div id="192" class="combo list drop" >
														<div class="wrap"><input type="text" autocomplete="off" placeholder="Enter Value" ng-model= "operandsField.valueToBeApplied" id="valueToBeApplied{{$index}}" min="0" class="form-control input-width"  style="display: block; margin-top: 6px;"  ng-required="!operandsField.isDatePicker"> </div>
														<div class="drop"></div>
													</div>
												
												</td>
												
											<td ng-controller="mainController" class="tracdatepicker" ng-if="operandsField.isDatePicker && !operandsField.yearpicker">
											<div ng-click="openDateForReport($event)" >
														<input type="text" ng-model="operandsField.valueToBeAppliedDate"
															id="dateValue"  
															ng-required="operandsField.isDatePicker" 
															name="dateValue"
															class="form-control	input-width-large"
															datepicker-popup="{{format}}"
															is-open="openflag"
															datepicker-options="dateOptions" close-text="Close"
															show-weeks="false"
															style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
														<input class="icon" type="button"> 
		
													</div>
										   </td>
										
										<td ng-controller="mainController" class="tracdatepicker" ng-if="operandsField.isDatePicker && operandsField.yearpicker">

											<div ng-click="openDateForReport($event)">
											 <input type="text"
											 		id="modelYear"
											 		name="modelYear"
													class="form-control input-width-large"
													showWeeks ="false"
													datepicker-mode="'year'" ng-model="operandsField.valueToBeAppliedmodelYear"
													datepicker-popup="{{yearformat}}"
													datepicker-options="datepickerYearOptions"
													is-open="openflag"
													ng-required="true"
													date-disabled="disabledForReport(date, mode)"
													close-text="Close"
													style="display: block; margin-top: 6px; background-color: #FFFFFF; color: black; color: black; float: left; cursor: pointer;" /> 
												<input class="icon" type="button"> 
											</div>

										</td>
										
										
												
											</tr>
										</tbody>
									</table>
								</div>
								
												<div class="col-md-12" ng-show="!canOpen">
													 <input type="submit" value="Fields to Apply" class="btn btn-primary pull-right" ng-click="initialRange=0;toRange=queryRange;reportList=[];fetchData();"><!-- openPopup(trac) -->
											</div>
											
											
											<div class="col-md-12" ng-show="canOpen">
											 
													 <input type="submit" value="Check Result" class="btn btn-primary pull-right" ng-click="initialRange =0;toRange=queryRange;reportList=[];buildQuery();currentPage = 1;totalItems=0;" style="margin: 10px;">
													 <input type="button" value="Show All Results" class="btn btn-primary pull-right" ng-click="initialRange=0;toRange=queryRange;reportList=[];fetchData();currentPage = 1;totalItems=0;" style="margin: 10px;" >
													<!-- ng-show="isExportable" -->
													  <input type="button" value="Export to CSV" class="btn btn-primary pull-right" csv-header="getHeader()"  ng-csv="reportList" filename="{{ filename }}.csv" field-separator="," decimal-separator="." style="margin: 10px;" >
													  <input type="button" value="Save Report" class="btn btn-primary pull-right" ng-click="saveReport()" style="margin: 10px;">
													<div ng-show="showReportName && reportList.length>0"> <label >Report Name</label>:<input type="text" id="reportid"  ng-model="reportName" ng-required="true" class="form-control input-width-large"  style="display: block; margin-top: 6px;" placeholder="Report Name"></div>
											</div>
											
											<br/><br/>
							
								<div class="col-md-12" ng-show="canShowTable">
								 <div google-chart chart="chart" style="{{chart.cssStyle}}"></div>
								 </div>
							</div>
							
						
							<!-- content -->
						<table class="table table-striped table-bordered table-hover table-checkable datatable" ng-show="canShowTable">
									<thead>
										<tr>
											<th ng-repeat="fields in fieldsToBeDisplayed">{{fields.selectedValueToStore}}</th>
										</tr>
									</thead>
									<tbody id="reportRow">
										
									</tbody>
								</table>
								
								<pagination boundary-links="true" total-items="totalItems"  items-per-page="maxSize"
									 max-size="maxvisiblepagesSize" ng-show="totalItems>0"
									 ng-model="currentPage"
									class="pagination-sm" previous-text="&lsaquo;"
									next-text="&rsaquo;" ng-change="pageChanged()"
									first-text="&laquo;" last-text="&raquo;"></pagination>
									
						</div>
					</div>
				</div>
				<!--=== Page Content ===-->
				
				
				
				<!-- /Page Content -->
			</div>
			<!-- /.container -->
