
			<div class="container"  style="float: left;width: 100%;">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<!-- <li>
							<i class="glyphicon glyphicon-home"></i>
							<a href="#/caseschedule">Case List</a>
						</li> -->
						<!-- <li class="current">
							<a href="pages_calendar.html" title="">Calendar</a>
						</li> -->
					</ul>

					<!-- <ul class="crumb-buttons">
						<li><a href="charts.html" title=""><i class="icon-signal"></i><span>Statistics</span></a></li>
						<li class="dropdown"><a href="#" title="" data-toggle="dropdown"><i class="icon-tasks"></i><span>Users <strong>(+3)</strong></span><i class="icon-angle-down left-padding"></i></a>
							<ul class="dropdown-menu pull-right">
							<li><a href="form_components.html" title=""><i class="icon-plus"></i>Add new User</a></li>
							<li><a href="tables_dynamic.html" title=""><i class="icon-reorder"></i>Overview</a></li>
							</ul>
						</li>
						<li class="range"><a href="#">
							<i class="icon-calendar"></i>
							<span></span>
							<i class="icon-angle-down"></i>
						</a></li>
					</ul> -->
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3> Contact Details </h3>
					<!-- 	<span>Good morning, John!</span> -->
					</div>

					
				</div>
				<!-- /Page Header -->

 					<div class="alert fade in alert-danger" ng-show="!isValidated">
							 		<i class="glyphicon glyphicon-remove-sign" ></i>
								{{serviceMessage}}
					</div> 
					
					<div class="alert fade in alert-danger" ng-show="isFormStateValid()">
							 		<i class="glyphicon glyphicon-remove-sign" ></i>
								{{serviceMessage}}
					</div> 
					
				<!--=== Page Content ===-->
				<div class="row">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><!-- <i class="icon-reorder"></i> --> Contact Details</h4>
							</div>
							<div class="widget-content">
								<div class="row">
									<div class="col-md-12">
                                    	<br/>
                                        <div class="widget-content">
                                    	<table class="table-highlight-head vreg" cellspacing="0" style="border-collapse:collapse;" border="0" width="100%">
                                        	
                                            <tr>
                                            	<td>Driver Name:</td> <td><input ng-model= "driver.driverName" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" readonly value="driverName"></td> 
                                            	
                                            	<td>Phone:</td>
                                            	<td>
                                            	<input type="text" class="form-control input-width-large" placeholder="" name="phone"  ng-pattern="/^[0-9]+$/" style="display: block; margin-top: 6px;" ng-model="driver.phone" ng-required="true" ng-maxlength="15" />
                                            	
														
                                            </tr>
                                            <tr>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.driverName.$error.maxlength"> Max 20 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">
													<small style="color:red" ng-show="tracForm.phone.$error.pattern">Please enter only numbers </small>    										  											
	     										    <small style="color:red" ng-show="tracForm.phone.$error.maxlength">Phone number should not be more than 15 characters.</small>
	     										</td>
											</tr>
                                            <tr>
                                            	<!-- <td>Email:</td> <td><input ng-model= "email" class="form-control input-width-large" type="text" name="email" placeholder="" data-rule-email="true" style="display: block; margin-top: 6px;" ng-required="true" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" ng-maxlength="20" title=" Email Should Contain '@' and '.' "> -->
                                            	<td>Email:</td> <td><input ng-model= "driver.email" ng-blur="emailEntered = true" ng-focus="emailEntered = false" class="form-control input-width-large" type="text" name="email" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="50" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/">                                        	
                                            	</td>
                                            	
                                            	 <td>Area:</td> <td><input ng-model= "driver.area" class="form-control input-width-large" type="text" name="area" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	 </td> 
                                            </tr>
                                            
                                            <tr>
												<td></td>
												<td style="width : 1px">
													<!-- <small style="color:red" ng-show="tracForm.email.$error.email">Invalid email address! </small>  -->
													 <small class="error" ng-show="emailEntered && tracForm.email.$error.pattern">
											            	Invalid email address!
											        </small> 
                                            	<small style="color:red"  ng-show="tracForm.email.$error.maxlength">Max 50 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.area.$error.maxlength">Max 15 Characters</small>
	     										</td>
											</tr> 
                                            <tr>
                                            	<td>Street:</td> <td><input ng-model= "driver.street" class="form-control input-width-large" type="text" name="street" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	</td>
                                            	
                                            	 <td>Building:</td> <td><input ng-model= "driver.building" class="form-control input-width-large" type="text" name="building" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	 </td> 
                                            </tr>
                                            
                                            <tr>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.street.$error.maxlength">Max 15 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.building.$error.maxlength">Max 15 Characters</small>
	     										</td>
											</tr>
											
                                            <tr>
                                            	<td>Landmark:</td> <td><input ng-model= "driver.landmark" class="form-control input-width-large" type="text" name="landmark" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15"></td>
                                            	 <td>City:</td> <td><input ng-model= "driver.city" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15" name="city" ng-pattern="/^[a-zA-Z ]*$/">                                            	
                                            	 </td> 
                                            </tr>
                                             <tr>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.landmark.$error.maxlength">Max 15 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">
													 <small style="color:red"  ng-show="tracForm.city.$error.maxlength">Max 15 Characters</small>
													 	<small style="color:red"  ng-show="tracForm.city.$error.pattern">Please enter only characters</small>
	     										</td>
											</tr>
                                            <tr>
                                            	<td>PO Box:</td> <td><input ng-model= "driver.postBox" class="form-control input-width-large" type="text" name="postBox" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	</td>
                                            	 <td>Country:</td> 
                                            	 <td>
                                            	 	<input ng-model= "driver.country" class="form-control input-width-large" type="text" auto-complete ui-items="countryNameList" name="country" id="country" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" >
                                            	  
                                            </tr>
                                            <tr>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.postBox.$error.maxlength">Max 15 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">
												 <small style="color:red"  ng-show="isCountrySelected ">Please select valid country</small> 
<!-- 													<small style="color:red"  ng-show="tracForm.country.$error.pattern">Please enter only characters</small>
 -->	     										</td>
											</tr>
                                        </table>
                                        <div class="sbmt-btn-div"> 
                                        	<span  class="sbmt-btn-span-previous">
												<input type="submit" value="Previous" class="btn btn-primary"  ng-click="previousSessionForUpdateScreen('/resources/views/bodytemplates/driver_personalDetails_update_body.html')"/>
											</span> 
                                        	<span  class="sbmt-btn-span-next">
                                        		<input type="submit" value="Next" class="btn btn-primary"  ng-click="updateDriverContactDetails(driver)"/>
                                        	</span> 
                                        	
                                        </div>
                                        
                                         
                                    </div>
								</div> <!-- /.row -->
							</div> <!-- /.widget-content -->
						</div> <!-- /.widget .box -->
					</div> <!-- /.col-md-12 -->
				</div>
				<!-- /Page Content -->
			</div>
			<!-- /.container -->

		</div>
	