
			<div class="container"  style="float: left;width: 100%;">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
					<!-- 	<li>
							<i class="glyphicon glyphicon-home"></i>
							<a href="#/caseschedule">Case List</a>
						</li> -->
						<!-- <li class="current">
							<a href="pages_calendar.html" title="">Calendar</a>
						</li> -->
					</ul>

				
				</div>
				<!-- /Breadcrumbs line -->
				
				
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3> Contact Details in Case Emergency </h3>
						<!-- <span>Good morning, John!</span> -->
					</div>

					
				</div>
				<!-- /Page Header -->
				<div class="alert fade in alert-danger" ng-show="!isValidated">
							 		<i class="glyphicon glyphicon-remove-sign" ></i>
								{{serviceMessage}}
					</div> 
				<div class="alert fade in alert-danger" ng-show="isFormStateValid()">
							 		<i class="glyphicon glyphicon-remove-sign" ></i>
								{{serviceMessage}}
					</div>
				<!--=== Page Content ===-->
				<div class="row">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><!-- <i class="icon-reorder"></i> -->Emergency contact details</h4>
							</div>
							<div class="widget-content">
								<div class="row">
									<div class="col-md-12">
                                    	<br/>
                                        <div class="widget-content">
                                    	<table class="table-highlight-head vreg" cellspacing="0" style="border-collapse:collapse;" border="0" width="100%">
                                        	
                                            <tr>
                                            	<td>Contact Person Name:</td> 
                                            	<td><input ng-model= "driver.eContactName" class="form-control input-width-large" type="text" name="eContactName" ng-maxlength="20" placeholder="" style="display: block; margin-top: 6px;" ng-required="true">
                                            	
       											</td>
       													 
                                            	 <td>Phone:</td> <td><input ng-model= "driver.ePhone" class="form-control input-width-large" type="text" name="ePhone" ng-pattern="/^[0-9]+$/" placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="15">
                                            	</td> 
                                            </tr>
                                             <tr>
												<td></td>
												<td style="width : 1px">
													<span style="color:red"  ng-show="tracForm.eContactName.$error.maxlength">Max 20 Characters</span>
		       									</td>
												<td></td>
												<td style="width : 1px">
													 <small style="color:red"  ng-show="tracForm.ePhone.$error.maxlength">Phone number should not be more than 15 Characters.</small>
                                            	 <small style="color:red" ng-show="tracForm.ePhone.$error.pattern">Please enter only numbers </small>
	     										</td>
											</tr>
                                            <tr>
                                            	<td>Email:</td> <td><input ng-model= "driver.eEmail" ng-blur="eEmailEntered = true" ng-focus="eEmailEntered = false"  class="form-control input-width-large" type="email" name="eEmail" placeholder="" style="display: block; margin-top: 6px;" ng-required="false"  ng-maxlength="50" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/">
                                            	</td>
       													 
                                            	 <td>Area:</td> <td><input ng-model= "driver.eArea" class="form-control input-width-large" type="text" name="eArea" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	</td> 
                                            </tr>
                                            <tr>
												<td></td>
												<td style="width : 1px">
													<!-- <small style="color:red" ng-show="tracForm.eEmail.$error.email">invalid email address! </small> -->
													<small class="error" ng-show="eEmailEntered && tracForm.eEmail.$error.pattern">
											            	Invalid email address!
											        </small> 
                                            	<small style="color:red"  ng-show="tracForm.eEmail.$error.maxlength">
       													 Max 50 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">
													 <small style="color:red"  ng-show="tracForm.eArea.$error.maxlength">
       													 Max 15 Characters</small>
	     										</td>
											</tr>
                                            <tr>
                                            	<td>Street:</td> <td><input ng-model= "driver.eStreet" class="form-control input-width-large" type="text" name="eStreet" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	</td>
                                            	 <td>Building:</td> <td><input ng-model= "driver.eBuilding" class="form-control input-width-large" type="text" name="eBuilding" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	 </td> 
                                            </tr>
                                            <tr>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.eStreet.$error.maxlength">
       													 Max 15 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">
												<small style="color:red"  ng-show="tracForm.eBuilding.$error.maxlength">
       													 Max 15 Characters</small>
												</td>
											</tr>
                                            <tr>
                                            	<td>Landmark:</td> <td><input ng-model= "driver.eLandmark" class="form-control input-width-large" type="text" name="eLandmark" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	</td>
       													 
                                            	 <td>City:</td> <td><input ng-model= "driver.eCity" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15" name="eCity" ng-pattern="/^[a-zA-Z ]*$/" title="Only Enter Characters">                                            	
                                            	 
                                            	 </td> 
                                            </tr>
                                            <tr>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.eLandmark.$error.maxlength">
       													 Max 15 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">
													 <small style="color:red"  ng-show="tracForm.eCity.$error.maxlength">Max 15 Characters</small>
													  <small style="color:red"  ng-show="tracForm.eCity.$error.pattern">Please enter only characters</small>
	     										</td>
											</tr>
                                            <tr>
                                            	<td>PO Box:</td> <td><input ng-model= "driver.ePostBox" class="form-control input-width-large" type="text" name="ePostBox" placeholder="" style="display: block; margin-top: 6px;" ng-required="false" ng-maxlength="15">
                                            	</td>
												<td>Country:</td> <td><input ng-model= "driver.eCountry" class="form-control input-width-large" type="text" emergency-complete ui-items="countryNameList" name="eCountry" id="eCountry" placeholder="" style="display: block; margin-top: 6px;" ng-required="false">
												<!-- <span style="color:red"  ng-show="tracForm.country.$error.pattern">Only Enter Characters</span> --></td> 
                                            </tr>
                                           <tr>
												<td></td>
												<td style="width : 1px">
													<small style="color:red"  ng-show="tracForm.ePostBox.$error.maxlength">
       													 Max 15 Characters</small>
		       									</td>
												<td></td>
												<td style="width : 1px">{{tracForm.eCountry.$error.maxlength}}
												<small style="color:red"  ng-show="isECountrySelected">Please select valid country</small>
													<!-- <small style="color:red"  ng-show="tracForm.eCountry.$error.pattern">Please enter only characters</small> -->
	     										</td>
											</tr>
                                        </table>
                                        <div class="sbmt-btn-div" style="width : 55% !important"> 
                                        	
                                        	<span class="sbmt-btn-span-previous">
												<input type="submit" value="Previous" class="btn btn-primary" ng-click="previousSession('/resources/views/bodytemplates/driver_contactDetails_body.html')"/>
											</span>
											<span  class="sbmt-btn-span-next" ng-show="canUpdateEmergencyContact">
                                        		<input type="submit" value="Next" class="btn btn-primary" ng-click="saveDriverEmergencyContactDetails(driver,false)"/>
                                        	</span>
                                        	<span  class="sbmt-btn-span-next" ng-show="!canUpdateEmergencyContact">
                                        		<input type="submit" value="Next" class="btn btn-primary" ng-click="saveDriverEmergencyContactDetails(driver,true)"/>
                                        	</span>
                                        </div>
                                       
                                    </div>
                                    
								</div> <!-- /.row -->
							</div> <!-- /.widget-content -->
						</div> <!-- /.widget .box -->
					</div> <!-- /.col-md-12 -->
				</div>
				<!-- /Page Content -->
			</div>
			<!-- /.container -->
		</div>
