
			<div class="container"  style="float: left;width: 100%;">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<!-- <li>
							<i class="glyphicon glyphicon-home"></i>
							<a href="#/caseschedule">Case List</a>
						</li> -->
					</ul>
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>Previous Work Experience </h3>
						
					</div>
				</div>
			
				<!--=== Page Content ===-->
				<div class="row">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><!-- <i class="icon-reorder"></i>  -->Previous Work Experience </h4>
							</div>
							<div class="widget-content">
								<div class="row">
									<div class="col-md-12">
                                    	<div class="widget-content" >
                                    	<table class="table-highlight-head vreg" id="previousWorkExp" cellspacing="0" style="border-collapse:collapse;" border="0" width="100%"  ng-repeat="experiences in previopusWorkExpArray">
                                    		<tr class="hrline">
                                            	<td colspan="4"><h4>Experience  Details</h4></td>
                                            	<td>  <div class="sbmt-btn-div" > 
			                                        	<span  class="sbmt-btn-span-next">
					                                        <input type="submit" value="Delete" class="btn btn-primary" ng-click="removeDriverPreviousExp($index)"/>
				                                        </span>
			                                        	
			                                        </div>
			                                     </td>
                                            </tr>
                                            <tr>
                                            	<td>Total Work Experience: </td> <td><input ng-model= "experiences.totalWorkExperience" class="form-control input-width-large" type="text" name="totalWorkExperience" id="totalWorkExperience{{$index}}" placeholder="" style="display: block; margin-top: 6px;" ng-required="true" >
                                            	<small id="totalWorkExperienceValidation{{$index}}" style="color:red"  ng-show="experiences.totalWorkExperience.length > 25">
       													 Max 25 Characters</small></td> 
                                            	<td>Related Work Experience:  </td> <td><input ng-model= "experiences.relatedWorkExperience" class="form-control input-width-large" type="text" name="relatedWorkExperience" id="relatedWorkExperience{{$index}}" placeholder="" style="display: block; margin-top: 6px;" ng-required="true" >
                                            	<small style="color:red"  ng-show="experiences.relatedWorkExperience.length > 25">
       													 Max 25 Characters</small></td> 
                                            </tr>
                                            <tr>
                                            	<td>Company Name:</td> <td><input ng-model= "experiences.companyName" class="form-control input-width-large" type="text" name="companyName"  id="companyName{{$index}}" placeholder="" style="display: block; margin-top: 6px;" ng-required="true" >
                                            	<small style="color:red"  ng-show="experiences.companyName.length > 25">
       													 Max 25 Characters</small></td>
                                            	 <td>Designation:</td> <td><input ng-model= "experiences.previousdesignation" class="form-control input-width-large" type="text" name="previousdesignation" id="previousdesignation{{$index}}" placeholder="" style="display: block; margin-top: 6px;" ng-required="true" >
                                            	 <small style="color:red"  ng-show="experiences.previousdesignation.length > 25">
       													 Max 25 Characters</small></td> 
                                            </tr>
                                            <tr>
                                            	<td>Date of Joining:</td>
                                            	 <!-- <td><input ng-model= "driver.dateOfJoining" class="form-control input-width-large" type="text" name="dateOfJoining" id="dateOfJoining"   placeholder="25.11.2014" style="display: block; margin-top: 6px;" ng-required="true"  >
                                            	 <input class="icon"  onClick="displayDatePicker('dateOfJoining', false, 'dmy', '.');" type="button"></td> --> 
                                            	
                                            	<td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
															<input type="text" 
																name="dateOfJoining{{$index}}"
																id="dateOfJoining{{$index}}" 
																class="form-control	input-width-large"
																datepicker-popup="{{format}}"
																ng-focus="open($event)"
																ng-model="experiences.dateOfJoining" is-open="opened"
																min-date="minDate" max-date="dt"
																datepicker-options="dateOptions" ng-required="true"
																close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button"> 
															
														</div>
			
													</td>
													
                                            	<td>Date of Relieving:</td>
                                            	 <!-- <td><input ng-model= "driver.dateOfRelieving" class="form-control input-width-large" type="text" name="dateOfRelieving" id="dateOfRelieving" placeholder="25.11.2014" style="display: block; margin-top: 6px;" ng-required="true">
                                            	  <input class="icon"  onClick="displayDatePicker('dateOfRelieving', false, 'dmy', '.');" type="button"></td> --> 
                                           		
                                           		<td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
															<input type="text"
																name="dateOfRelieving{{$index}}"
																id="dateOfRelieving{{$index}}" 
																class="form-control	input-width-large"
																datepicker-popup="{{format}}"
																ng-focus="open($event)"
																ng-model="experiences.dateOfRelieving" is-open="opened"
																min-date="experiences.dateOfJoining" 
																datepicker-options="dateOptions" ng-required="true"
																close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button"> 
															
														</div>  
											     </td>
                                            </tr>
                                            <tr>
                                            	<td></td>
                                            	<td></td>
                                            	<td></td>
                                            	<td style="width:1px;">
                                            		<small class="error" id="dateOfRelievingValidation{{$index}}" style="display:none;">Date of Relieving cannot be before Date of Joining</small> 
                                            		
                                            	  <small class="error" ng-show="experiences.dateOfRelieving && experiences.dateOfJoining && compareDate(experiences.dateOfRelieving,experiences.dateOfJoining)">
														Date of Relieving cannot be before Date of Joining
												  </small>  
												</td>
                                            </tr>
                                            
                                            
                                        </table>
                                       
                                    </div>
                                     <div style="float:left; width:100%;" > <span style="float:left; width:100%; text-align:center; padding:10px;"><input type="button" value="Add One More Company Details" class="btn btn-primary" ng-click="addExprow()"/></span> <br/> </div>
                                        
                                          <div class="sbmt-btn-div"  style="width : 57% !important"> 
                                        	
                                        	<span  class="sbmt-btn-span-previous">
												<input type="submit" value="Previous" class="btn btn-primary"  ng-click="previousSessionForUpdateScreen('/resources/views/bodytemplates/driver_emergencyConDetails_update_body.html')"/>
											</span>
											<span  class="sbmt-btn-span-next">
		                                        <input type="submit" value="Next" class="btn btn-primary" ng-click="updateDriverPreviousExpDetails(driver)"/>
	                                        </span>
	                                        <span  class="sbmt-btn-span-next">
		                                        <input type="submit" value="Skip" class="btn btn-primary" ng-click="skipToDriverPresentExpDetails(true)"/>
	                                        </span>
                                        </div>
                                        
                                          
								</div> <!-- /.row -->
							</div> <!-- /.widget-content -->
						</div> <!-- /.widget .box -->
					</div> <!-- /.col-md-12 -->
				</div>
				<!-- /Page Content -->
			</div>
			<!-- /.container -->
		</div>
