
	
		<div class="container"  style="float: left;width: 100%;">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<!-- <li><i class="glyphicon glyphicon-home"></i> <a href="#/caseschedule">Case List</a>
						</li> -->
					</ul>

				
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>Personal Details</h3>
					</div>

				</div>
				<!-- /Page Header -->
				 <div class="alert fade in alert-danger" ng-show="!isValidated">
							 		<i class="glyphicon glyphicon-remove-sign" ></i>
								{{serviceMessage}}
					</div> 
					

				<!--=== Page Content ===-->
				<div class="row">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4>
									<!-- <i class="icon-reorder"></i> --> Personal Details
								</h4>
							</div>
							<div class="widget-content">
								<div class="row">
									<div class="col-md-12">
										<br />
										<div class="widget-content">
											<table class="table-highlight-head" cellspacing="0"
												style="border-collapse: collapse;" border="0" width="100%">

												<tr>
													<td>First Name:</td>
													<td><input ng-model="driver.driverFirstName" name="driverFirstName" 
														class="form-control input-width-large" type="text" 
														placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="20" >					
													</td>
													<td>Last Name:</td>
													<td><input ng-model="driver.driverLastName" name="driverLastName"
														class="form-control input-width-large" type="text"
														placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="20">
														</td>
												</tr>
												<tr>
										<td></td>
										<td style="width : 1px">
											<small style="color:red"  ng-show="driverDetails.driverFirstName.$error.maxlength">
       													 Max 20 Characters</small>
       									
       									</td>
										<td></td>
										<td style="width : 1px"><small style="color:red"  ng-show="driverDetails.driverLastName.$error.maxlength">
       													 Max 20 Characters</small></td>
									</tr>
												<tr>
													<td>Driving License Number:</td>
													<td><input ng-model="driver.licenseNo" name="licenseNo"
														class="form-control input-width-large" type="text"
														placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="20">
														</td>
													<td>Driving License Expiry Date:</td>
														
													<td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
															<input type="text" id="licenseNoExpiredAt" 
																name="licenseNoExpiredAt"
																class="form-control	input-width-large"
																datepicker-popup="{{format}}"
																ng-model="driver.licenseNoExpiredAt" is-open="opened"
																min-date="dt" max-date="minDate"
																datepicker-options="dateOptions" ng-required="true" close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button"/>
														</div> 
													</td>
													
												</tr>
												<tr>
													<td></td>
													<td style="width : 1px"><small style="color:red"  ng-show="driverDetails.licenseNo.$error.maxlength">
       													 Max 20 Characters</small></td>
													<td></td>
													<td style="width : 1px"></td>
												</tr>
												<tr>
													<td>GOVT ID Number:</td>
													<td><input ng-model="driver.governmentIdNumber"
														class="form-control input-width-large" type="text" name="governmentIdNumber"
														placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="25">
														</td>
													<td>Driver Nationality:</td>
													<td><input ng-model="driver.nationality"
														class="form-control input-width-large" type="text" name="nationality"
														placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="30">
													</td>
												</tr>
												<tr>
													<td></td>
													<td style="width : 1px"><small style="color:red"  ng-show="driverDetails.governmentIdNumber.$error.maxlength">
       													 Max 25 Characters</small></td>
													<td></td>
													<td style="width : 1px"><small style="color:red"  ng-show="driverDetails.nationality.$error.maxlength">
       													 Max 30 Characters</small></td>
												</tr>
												
												<tr>
													<td>Passport Number:</td>
													<td><input ng-model="driver.passportNo" name="passportNo" 
														class="form-control input-width-large" type="text"
														placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="20" >
														</td>
													<td>Passport Issued Date:</td>
													<td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
															<input type="text" id="passportIssuedAt"
																name="passportIssuedAt"
																class="form-control	input-width-large"
																datepicker-popup="{{format}}"
																ng-model="driver.passportIssuedAt" is-open="opened"
															    min-date="minDate" max-date="dt"
																datepicker-options="dateOptions" ng-required="true"
																close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button">
														</div>
			
													</td>
																
												</tr>
												<tr>
													<td></td>
													<td style="width : 1px"><small style="color:red"  ng-show="driverDetails.passportNo.$error.maxlength">
       													 Max 20 Characters</small></td>
													<td></td>
													<td style="width : 1px"> <small class="error" ng-show="isPassportIssuedAtValid">
													{{errorMessage}}</small></td>
												</tr>
												<tr>
													<td>Visa Number:</td>
													<td style="width : 1px"><input ng-model="driver.visaNo" name="visaNo"
														class="form-control input-width-large" type="text"
														placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="20">
												   </td>
													<td>Visa Issued Date:</td>
													<td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
															<input type="text" id="visaIssuedAt"
																name="visaIssuedAt"
																class="form-control	input-width-large"
																datepicker-popup="{{format}}"
																ng-model="driver.visaIssuedAt" is-open="opened"
																min-date="driver.passportIssuedAt" max-date="dt"
																datepicker-options="dateOptions" ng-required="true"
																close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button"> 
														</div>
			
													</td>
												</tr>
												<tr>
													<td></td>
													<td style="width : 1px"><small style="color:red"  ng-show="driverDetails.visaNo.$error.maxlength">
       													 Max 20 Characters</small></td>
													<td></td>
													<td style="width : 1px"><small class="error" ng-show="isVisaIssuedAtValid">
													{{errorMessage}}</small></td>
												</tr>
												<tr>
													<td>Passport Expiry Date:</td>
													<td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
															<input type="text" id="passportExpiredAt"
																name="passportExpiredAt"
																class="form-control	input-width-large"
																datepicker-popup="{{format}}"
																ng-model="driver.passportExpiredAt" is-open="opened"
																min-date="driver.passportIssuedAt"
																datepicker-options="dateOptions" ng-required="true"
																close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button"> 
														</div> 
														
		
													</td>
													<td>Visa Expiry Date:</td>
													<td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
														<input type="text" id="visaExpiredAt"
																name="visaExpiredAt"
																class="form-control	input-width-large"
																datepicker-popup="{{format}}"
																ng-model="driver.visaExpiredAt" is-open="opened"
																min-date="driver.visaIssuedAt" 
																datepicker-options="dateOptions" ng-required="true"
																close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button"> 
														</div> 
													</td>
												</tr>
												<tr>
													<td></td>
													<td style="width : 1px">
														<!-- <small class="error" ng-show="driver.visaIssuedAt && driver.visaExpiredAt && compareDate(driver.visaIssuedAt,driver.visaExpiredAt)">
															Passport Expired Date cannot be before Passport Issued Date.
													</small> -->
													<small class="error" ng-show="isPassportExpiredAtValid">{{errorMessage}}</small></td>
													<td></td>
													<td style="width : 1px"><small class="error" ng-show="isVisaExpiredAtValid">
													{{errorMessage}}</small></td>
												</tr>
												<tr>
													<td>Health Insurance Card Number:</td>
													<td><input ng-model="driver.healthInsuranceCardNo" name="healthInsuranceCardNo"
														class="form-control input-width-large" type="text"
														placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="20">
														</td>
													<td>Health Insurance card Expiry Date:</td>
													<td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
															<input type="text" id=healthInsuranceCardExpiryAt
																name="healthInsuranceCardExpiryAt"
																class="form-control	input-width-large"
																datepicker-popup="{{format}}"
																ng-model="driver.healthInsuranceCardExpiryAt" is-open="opened"
																datepicker-options="dateOptions" ng-required="true"
																close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button"/>
														</div> 
														
			
													</td>
												</tr>
												<tr>
													<td></td>
													<td style="width : 1px"><small style="color:red"  ng-show="driverDetails.healthInsuranceCardNo.$error.maxlength">
       													 Max 20 Characters</small></td>
													<td></td>
													<td style="width : 1px"><div class="alert fade in alert-danger"
															ng-show="isLicenseNoExpiredAtValid">
															<i class="glyphicon glyphicon-remove" ></i>
															{{validationMessage}}
														</div></td>
												</tr>
												
											</table>
											<div style="float: left; width: 100%;">
												<span
													style="float: left; width: 100%; text-align: center; padding: 10px;"><input
													type="submit" value="Next"  class="btn btn-primary"
													ng-click="updateDriverPersonalDetails(driver)" /></span> <br />
											</div>
											
											 
										</div>

									</div>
									<!-- /.row -->
								</div>
								<!-- /.widget-content -->
							</div>
							<!-- /.widget .box -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /Page Content -->
				</div>
				<!-- /.container -->

			</div>
