
			<div class="container"  style="float: left;width: 100%;">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<!-- <li>
							<i class="glyphicon glyphicon-home"></i>
							<a href="#/caseschedule">Case List</a>
						</li> -->
					</ul>
				</div>
				<!-- /Breadcrumbs line -->

					
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>Present Work Details </h3>
					</div>
				</div>
				<!-- /Page Header -->
				<div class="alert fade in alert-danger" ng-show="!isValidated">
							 		<i class="glyphicon glyphicon-remove-sign" ></i>
								{{serviceMessage}}
					</div> 
				<div class="alert fade in alert-danger" ng-show="isFormStateValid()">
							 		<i class="glyphicon glyphicon-remove-sign" ></i>
								{{serviceMessage}}
					</div>
				<!--=== Page Content ===-->
				<div class="row">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><!-- <i class="icon-reorder"></i>  -->Present Work Details </h4>
							</div>
							<div class="widget-content">
								<div class="row">
									<div class="col-md-12">
                                    	<br/>
                                        <div class="widget-content">
                                    	<table class="table-highlight-head" cellspacing="0" style="border-collapse:collapse;" border="0" width="100%">
                                        	
                                            <tr>
                                            	<td>Name:</td> <td><input ng-model= "driver.driverName" class="form-control input-width-large" type="text" name="driverName" placeholder="" style="display: block; margin-top: 6px;" readonly>
                                            	<span style="color:red"  ng-show="driverDetails.driverName.$error.maxlength">
       													 Max 15 Characters</span></td>
                                            	<td>User name:</td> <td><input ng-model= "driver.userName" class="form-control input-width-large" type="text" name="userName" placeholder="" style="display: block; margin-top: 6px;" ng-required="true" ng-maxlength="15">
                                            	<span style="color:red"  ng-show="driverDetails.userName.$error.maxlength">
       													 Max 15 Characters</span></td> 
                                            </tr>
                                            <tr>
                                            	<td>User Type:</td> <td><input class="form-control input-width-large" type="text" placeholder="Driver" style="display: block; margin-top: 6px;" readonly></td>
                                            	 <td>Driver/Employee ID:</td> <td><input ng-model= "driver.employeeId" id="employeeId" name="employeeId" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true" value="driver.employeeId"></td> 
                                            </tr>
                                            <tr>
                                            	 <td>DOJ:</td> 
                                            	 <td ng-controller="drivercontroller" class="tracdatepicker">
														<div ng-click="open($event)">
															<input type="text" id="dateOfJoining"
																name="dateOfJoining"
																class="form-control input-width-large"
																datepicker-popup="{{format}}"
																ng-model="driver.presentDateOfJoining" is-open="opened"
																datepicker-options="dateOptions" ng-required="true"
																close-text="Close" show-weeks="false"
																style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
															<input class="icon" type="button"/>
														</div> 
													</td>
                                            	<td>Designation:</td> <td><input ng-model= "driver.presentdesignation"class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"></td> 
                                            </tr>
                                            
                                            <tr>                                  
                                            	<td>Preferred Working Hours/Shift Timings:</td> <td><select ng-model= "driver.preferedWorkTimings" class="form-control input-width-large" type="text" placeholder="Choose option" style="display: block; margin-top: 6px;" ng-required="true"                                     	
   												 ng-options="option.shiftId as option.shiftName for option in shifts" >
   												 <option value="" selected="selected">Select Shift</option>
   												 </select></td>
     										 
                                           	 <td>Preferred Day Off:</td> <td><select ng-model= "driver.preferedDayOff" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                           	   ng-options="option.ID as option.dayName for option in days"> <option value="" selected="selected">Preferred Day Off</option></select></td> 
                                            </tr>
                                            <tr>
                                            	<td>Reporting to:</td> <td><select ng-model= "driver.reportingTo" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                            	ng-options="option.userID as option.displayName for option in managers" >
                                            	<option value="" selected="selected">Select Reporting To</option>
                                            	</select></td>
                                            	 
                                            	 <td>Shirt Size:</td> <td><select ng-model= "driver.shirtSize" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                            	  ng-options="o as o for o in shirtsizes">
                                            	  <option value="" selected="selected">Select Shirt Size</option>
                                            	   </select></td> 
                                            </tr>
                                            <tr>
                                            	<td>Trouser Size:</td> <td><select ng-model= "driver.trouserSize" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                            	 ng-options="o as o for o in trousersizes"><option value="" selected="selected">Select Trouser Size</option></select></td>
                                            	 
                                            	 <td>Shoes Size:</td> <td><select ng-model= "driver.shoeSize" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                            	  ng-options="o as o for o in shoessize">  <option value="" selected="selected">Select Shoe Size</option></select></td> 
                                            </tr>
                                            <tr>
                                            	<td>Number of Shirts Received:</td> <td><select ng-model= "driver.noOfShirtsReceived" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                            	 ng-options="o as o for o in shirts"><option value="" selected="selected">Shirts Received</option></select></td>
                                            	 <td>Number of Trousers Received:</td> <td><select ng-model= "driver.noOfTrousersReceived" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                            	  ng-options="o as o for o in trouers">
                                            	  <option value="" selected="selected">Trousers Received</option>
                                            	  </select></td> 
                                            </tr>
                                            <tr>
                                            	<td>Number of Shoes Received:</td> <td><select ng-model= "driver.noOfShoeReceived" class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                            	 ng-options="o as o for o in shoes"><option value="" selected="selected">Shoes Received</option></select></td>
                                            	<td>Preferred Vehicle:</td> <td><select ng-model= "driver.preferedTruckId " class="form-control input-width-large" type="text" placeholder="" style="display: block; margin-top: 6px;" ng-required="true"
                                            	 ng-options="option.truckId as option.truckCode for option in trucks">
                                            	 <option value="" selected="selected">Select Prefered Vehicle</option>
                                            	 </select></td> 
                                            </tr>
                                            
                                        </table>
                                       
                                        
                                         <div class="sbmt-btn-div" style="width : 55% !important"> 
	                                        
	                                          <span  class="sbmt-btn-span-previous">
													<input type="submit" value="Previous" class="btn btn-primary"  ng-click="previousSessionForUpdateScreen('/resources/views/bodytemplates/driver_workExperience_update_body.html')"/>
											</span> 
												<span  class="sbmt-btn-span-next">
	                                          <input type="submit" value="Save" class="btn btn-primary" ng-click="updateDriverPresentExpDetails(driver,true)"/>
	                                          </span>
                                         </div>
                                         
                                           
                                    </div>
                                    
								</div> <!-- /.row -->
							</div> <!-- /.widget-content -->
						</div> <!-- /.widget .box -->
					</div> <!-- /.col-md-12 -->
				</div>
				<!-- /Page Content -->
			</div>
			<!-- /.container -->

		</div>
	