
			<div class="container" style="float: left;width: 100%;" ng-init="getShiftDetails()">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<li>
							<i class="glyphicon glyphicon-home"></i>
							<a href="#/caseschedule">Case Schedule</a>
						</li>
					</ul>
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>List of shifts  </h3>
					</div>
				</div>
				<!-- /Page Header -->
<div class="alert fade in alert-danger" ng-show="!isValidated">
					 		<i class="glyphicon glyphicon-remove-sign" ></i>
						{{serviceMessage}}
	</div> 
	
	<div class="alert fade in alert-success" ng-show="onSuccess">
					 		<i class="glyphicon glyphicon-ok" ></i>
						{{serviceMessage}}
			</div> 
				<!--=== Page Content ===-->
	<div class="row">
		<div class="col-md-12">
			<div class="widget box">
				<div class="widget-header">
					<h4>
						<!-- <i class="icon-reorder"></i> --> Listing Of Shifts Info
					</h4>
					<div class="toolbar no-padding">
						<div class="btn-group">
							<span class="btn btn-xs widget-collapse"><i
								class="glyphicon glyphicon-chevron-down"></i></span>
						</div>
					</div>
				</div>
				<div class="widget-content">
				<div style="float:left; width:100%; padding:7px 0px 23px;"><input type="button" class="btn btn-facebook" ng-click="getShiftDetails()" value="View Shift Schedule"/></div>
					<table id="shiftRow" class="table table-hover table-striped table-bordered table-highlight-head Valign" cellspacing="0" style="border-collapse:collapse;" border="1" width="100%">
									<tr>
										<th>Shift Day</th>
										<th>Shift Name</th>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Trucks Planed</th>
										<th>Drivers Planed</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
									<tr ng-repeat="shift in shiftList" >
                                      
                                        
                                        <td align="center">{{shift.shiftDay}}</td>
                                        <td align="center">{{shift.shiftName}}</td>  
                                      	<td>
										 <timepicker ng-model="shift.startTime" ng-reqired="true" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
										</td> 
										<td>
											<timepicker ng-model="shift.endTime" ng-reqired="true" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
										</td>
										<td>
											<select class="form-control" name="vehiclesCount" ng-reqired="true" id="vehiclesCount" ng-model="shift.vehiclesCount" style="width: 60px;">
												<option ng-repeat="n in [] | range:21" value="{{n}}" ng-selected="n == shift.vehiclesCount">{{n}}</option>
											</select>
										</td>
										<td>
											<select class="form-control" name="driversCount" ng-reqired="true" id="driversCount" ng-model="shift.driversCount" style="width: 60px;">
												<option ng-repeat="n in [] | range:21" value="{{n}}" ng-selected="n == shift.driversCount">{{n}}</option>
											</select>
										</td>
										<td>
											<input type="submit" value="Update" class="btn btn-primary"
													ng-click="editShiftTimingDetails(shift)" />
										</td>
										<td>
											<!-- <a href="#" ng-click="deleteShift(shift,$index)">Delete</a> -->
											<input type="submit" value="Delete" class="btn btn-primary"
													ng-click="deleteShift(shift,$index)" />
										</td>
									</tr>
									<tr ng-show="ifNoRecordFound">
										<td colpan="6">No records found</td>
									</tr>
								</table >
				</div>

			</div>
			<!-- /.row -->
		</div>
		<!-- /.widget-content -->

	</div>
	<!-- /.widget .box -->
</div> <!-- /.col-md-12 -->
											
                                