<div class="container"  style="float: left;width: 100%;" ng-init="initList(truckexpenses)">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<!-- <li><i class="glyphicon glyphicon-home"></i> <a href="#/caseschedule">Case List</a>
						</li> -->
					</ul>
					
				</div>
				<!-- /Breadcrumbs line -->
	
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>List of Expenses</h3>
					</div>
				</div>
				<!-- /Page Header -->
				<!--=== Page Content ===-->
				<div class="row" ng-if="!canShow">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4>
									<!-- <i class="icon-reorder"></i> --> List of Expenses
								</h4>
								<div class="toolbar no-padding">
									<div class="btn-group">
										<!-- <span class="btn btn-xs widget-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span> -->
									</div>
								</div>
							</div>
							<table width="100%" cellspacing="0" style="max-width : 99%;" >
									<tr>
										<td style="padding : 16px;">Truck Nick Name:</td>
										<td>
										  <select ng-model="truckexpenses.searchBy"  name="searchBy"
							  			  			class="form-control input-width-large" 
												  ng-options="option.truckId as option.truckNickName for option in trucks" >
												    <option value="">Select Truck Nick Name</option>
												</select>
										</td> 


										<td>From Date</td>
										<td ng-controller="expensesController" class="tracdatepicker">
											<div ng-click="open($event)">
												<input type="text" ng-model="truckexpenses.expenseTimeFrom" 
													id="expenseTimeFrom"  
													name="expenseTimeFrom"
													class="form-control	input-width-large"
													datepicker-popup="{{format}}"
													is-open="opened" 
													datepicker-options="dateOptions" close-text="Close"
													show-weeks="false"
													style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
												<input class="icon" type="button"> 

											</div>
										</td>
										<td>To Date</td>
										<td ng-controller="expensesController" class="tracdatepicker">
											<div ng-click="open($event)">
												<input type="text" ng-model="truckexpenses.expenseTimeTo" 
													id="expenseTimeTo"  
													name="expenseTimeTo"
													class="form-control	input-width-large"
													datepicker-popup="{{format}}"
													is-open="opened" 
													datepicker-options="dateOptions" close-text="Close"
													show-weeks="false"
													style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
													
													
												<input class="icon" type="button"> 
											</div>
										</td>
										<td>
												<input type="Submit" value="Submit" class="btn btn-primary" ng-click="getLisOfExpenses(truckexpenses)"/>
										</td>
									</tr>
							</table>
							<div class="widget-content">
									<table class="table table-striped table-bordered table-hover table-checkable datatable">
									<thead>
										<tr>
											<th>Truck NickName.</th>
											<th>Receipt Number</th>
											<th>Expenses Type</th>
											<th>Expense Cost</th>
											<th>Date</th>
											<th>Payment Type</th>
										</tr>
									</thead>
									<tbody>
										<tr class="redc" ng-repeat="truckexpense in listOfTruckExpenses" ng-if="ifRecordsFound">
											<td><a style="cursor: pointer;" ng-click="getTruckExpenseDetails(truckexpense,$index)">{{truckexpense.truckNickName}}</a></td>
											<td >{{truckexpense.receiptNumber}}</td>
											<td >{{getValueOf(expensesTypeList,truckexpense.expenseType,"ID","Description")}}</td>
											<td >{{truckexpense.expenseValue}}</td>
											<td >{{truckexpense.expenseTime | date:'yyyy-MM-dd'}}</td>
											<td >{{getValueOf(paymentTypeList,truckexpense.paymentType,"ID","Description")}}</td>
										</tr>
										<tr  class="redc"  ng-if="!ifRecordsFound">
											<td colspan="6" >No Records Found</td>
										</tr>
									</tbody>
								</table>
								
								<div style="float: left; width: 100%;">
									<span style="float: left; width: 50%; text-align: center; padding: 10px;">
									
									<input type="button" value="Export to CSV" class="btn btn-primary pull-right" ng-show="ifRecordsFound" csv-header="getHeader()" ng-csv="listOfTruckExpenses" filename="{{ filename }}.csv" field-separator="," decimal-separator="." style="margin: 10px;" >
									</span>
								</div>
							</div>
						</div>
				<!-- /.row -->
							
					</div>
					<!-- /Page Content -->
				</div>
				
				<div class="alert fade in alert-danger" ng-show="!isValidated" >
							 		<i class="glyphicon glyphicon-remove"></i>
								{{serviceMessage}}
					</div> 
					
				<div class="alert fade in alert-success" ng-show="onSuccess"  ng-show="canShow">
					<i class="glyphicon glyphicon-ok" ></i>
						{{serviceMessage}}
				</div> 
				
				<div class="row"  ng-if="canShow">
		<div class="col-md-12">
			<div class="widget box">
				<div class="widget-header">
					<h4>
						<!-- <i class="icon-reorder"></i> -->Truck Expenses Update
					</h4>
				</div>
				<div class="widget-content">
						<div class="row">
							<div class="col-md-12">

								<table width="100%" cellspacing="0" class="vreg">
									<tr>
										<td>Truck Nick Name:</td>
										<td>
										  <select ng-model="truckexpenses.truckNickName"  name="truckNickName" ng-required="true"
							  			  			class="form-control input-width-large" 
												  ng-options="option.truckId as option.truckNickName for option in trucks" >
												    <option value="">Select Truck Nick Name</option>
												</select>
										</td> 


										<td>Expenses Type:</td>

										<td>
												   <select ng-model="truckexpenses.expensesType"  name="expensesType" ng-required="true"
							  			  			class="form-control input-width-large" style="padding: 0 13px; !important"
												  ng-options="option.ID as option.Description for option in expensesTypeList" >
												    <option value="">Select Expenses Type</option>
												</select>
										</td>

									</tr>
									
									<tr>
										<td>Expenses Cost:</td>
										<td>
											<input class="form-control input-width-large"
											type="text" ng-model="truckexpenses.expensesValue" ng-required="true"
											required="true" placeholder="" name="expensesValue" id="expensesValue" 
											style="display: block; margin-top: 6px;" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
											ng-maxlength="20" >
										</td>
										<td>Currency Type:</td>

										<td>
											 <select ng-model="truckexpenses.currencyType"  name="currencyType" ng-required="true"
							  			  			class="form-control input-width-large" style="padding: 0 13px; !important"
												  ng-options="option.ID as option.Description for option in currencyTypeList" >
												    <option value="">Select Currency Type</option>
												</select>
										</td>
										
									</tr>
									<tr>
										<td></td>
										<td style="width : 1px;">
											<small class="error" ng-show="tracForm.expensesValue.$error.maxlength">
											Max 20 characters </small>
											<small class="error" ng-show="tracForm.expensesValue.$error.pattern">
											Enter valid  expense value </small>
										</td>
										<td></td>
										<td style="width : 1px;">
										
										</td>
									</tr>
									<tr><td>Paid To:</td>
										<td><input class="form-control input-width-large" restrict="[^A-Za-z0-9\-\s]"  
											type="text" ng-model="truckexpenses.paidTo" ng-required="true"  id="paidTo"
											ng-maxlength="20" placeholder=""  name="paidTo"
											style="display: block; margin-top: 6px;"></td>
										
										<td>Payment Type:</td>
										<td>
											
							  			 		  <select ng-model="truckexpenses.paymentType"  name="paymentType" ng-required="true"
							  			  			class="form-control input-width-large" style="padding: 0 13px; !important"
												    ng-options="option.ID as option.Description for option in paymentTypeList" >
												    <option value="">Select Payment Type</option>
												</select>
											</td>
									</tr>
									<tr>
										<td></td>
										<td style="width : 1px;">
											<small class="error" ng-show="tracForm.paidTo.$error.maxlength">
											Max 20 characters </small>
										</td>
										<td></td>
										<td style="width : 1px;">
										
										</td>
									</tr>
									<tr>
										<td>Recipient Number :</td>
										<td><input class="form-control input-width-large" restrict="[^A-Za-z0-9\-\s]"  
											type="text" ng-model="truckexpenses.recipientNumber" ng-required="true"  id="recipientNumber"
											ng-maxlength="20" placeholder=""  name="recipientNumber"
											style="display: block; margin-top: 6px;"/>									
										</td>
										<td>Date/Time:</td>
										<td ng-controller="expensesController" class="tracdatepicker">
											<div ng-click="open($event)">
												<input type="text" ng-model="truckexpenses.dateTimeOfExpenses" 
													id="dateTimeOfExpenses"  
													ng-required="true" 
													name="dateTimeOfExpenses"
													class="form-control	input-width-large"
													datepicker-popup="{{format}}"
													is-open="opened"
													min-date="minDate" max-date="dt"
													datepicker-options="dateOptions" close-text="Close"
													show-weeks="false"
													style="display: block; background-color: #FFFFFF; color: black; margin-top: 6px; float: left; cursor: pointer;" />
													
													
												<input class="icon" type="button"> 

											</div>
										</td>
									</tr>
										<tr>
										<td></td>
										<td style="width : 1px;">
										<small class="error" ng-show="tracForm.recipientNumber.$error.maxlength">
											Max 20 characters </small>
										</td>
										
									</tr>
									<tr>
										<td>Comments:</td>
										<td> 
                                            <textarea style="width:500px;resize:none" 
                                            ng-model="truckexpenses.expensesComments" id="expensesComments"
                                            class="form-control input-width-large"
                                            name="expensesComments"
                                             value="" 
                                              
                                             ng-required="true">
                                            </textarea>
                                        </td>
										
									</tr>
									<tr>
										<td></td>
										<td style="width : 1px;">
										
											<!-- <small class="error" ng-show="tracForm.expensesComments.$error.minlength">
											Min 20 characters </small> -->
										</td>
									</tr>
									

								</table>

								<div style="float: left; width: 100%;">
									<span style="float: left; width: 100%; text-align: center; padding: 10px;">
									<input type="button" value="Back" class="btn btn-primary" ng-click="redirectToList();" />
									<input type="submit" value="Update" class="btn btn-primary" ng-click="updateExpenses(truckexpenses,expenseIndex)" /></span>
									<br />
								</div>
								
							</div>
							<!-- /.row -->
						</div>
						<!-- /.widget-content -->
					
				</div>
				<!-- /.widget .box -->
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /Page Content -->
	</div>
	
</div>

