			
			<div class="container" style="float: left;width: 100%;" >
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<li>
							<i class="icon-home"></i>
							<a href="#/index">Dashboard</a>
						</li>
						
					</ul>

					
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3> Case On Job Details </h3>
						
					</div>

				
				</div>
				<!-- /Page Header -->
<div class="alert fade in alert-danger" ng-show="!isValidated">
							 		<i class="glyphicon glyphicon-remove-sign" ></i>
								{{serviceMessage}}
					</div> 
				<!--=== Page Content ===-->
				<div class="row">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>Case Registered Faults</h4>
							</div>
							<div class="widget-content">
							<div class="col-md-12">
							
											<div class="widget-header infoheader">
													<h4>Customer Details </h4>
												</div>
                                        	<table class="case-reg caseDetails" width="100%">
                                            	<!-- <tr>
                                                	<th colspan="2">Customer Details</th>
                                                </tr> -->
                                                
                                                <tr>
                                                	<td width="25%"><label>Customer ID :</label></td> <td><label>{{cases.customerId}}</label></td>
                                                </tr>
                                                <tr>
                                                	<td><label>Name :</label></td> <td><input class="form-control input-width-large" ng-model="cases.customerName" type="text" placeholder="" style="display: block; margin-top: 6px;" value="customerName" readonly></td>                                       	
                                                </tr>                                            
                                                <tr>
                                                	<td><label>Phone :</label></td> <td><input class="form-control input-width-large" ng-model="cases.mobileNumber" type="text" placeholder="" style="display: block; margin-top: 6px;" value="mobileNumber" readonly></td>
                                                </tr>
                                                
                                            </table>
                                        
                                        		<div class="widget-header infoheader">
													<h4>Vehicle Info </h4>
												</div>
												<br>
                                        	<table class="case-reg caseDetails" width="100%">
                                            	<!-- <tr>
                                                	<th colspan="2">Vehicle Info</th>
                                                </tr> -->
                                                <tr>
                                                	<td width="25%"><label>VIN :</label></td> <td><label>{{cases.vin}}</label></td>
                                                </tr>
                                                <tr>
                                                	<td><label>Brand, Model, Reg No. :</label></td> <td><input class="form-control input-width-large" ng-model="cases.brandModelReg" value="brandModelReg" type="text" placeholder="---------, ----------, ---------" style="display: block; margin-top: 6px;" readonly></td>
                                                </tr>
                                                <tr>
                                                	<td><label>Plate Number :</label></td> <td><input class="form-control input-width-large" type="text" ng-model="cases.plateCode" placeholder="" style="display: block; margin-top: 6px;"value="plateCode" readonly></td>
                                                </tr>
                                                
                                            </table>
                                        
                                  
                                   <!-- table to show Vehicle Service Location -->
                                    		<div class="widget-header infoheader">
													<h4>Vehicle Service Location</h4>
												</div>
												<br>
                                        	<table class="case-reg caseDetails" width="100%">
                                            	<!-- <tr>
                                                	<th colspan="2">Vehicle Service Location</th>
                                                </tr> -->                                               
                                                <tr>
                                                	<td width="25%"><label>Address Title :</label></td> <td><label>{{cases.serviceLocationName}}</label></td>
                                                </tr>
                                                <tr>
                                                	<td><label>Area:</label></td> <td><input class="form-control input-width-large" type="text" ng-model="cases.area" placeholder="" style="display: block; margin-top: 6px;"value="area" readonly ></td>
                                                </tr>
                                                <tr>
                                                	<td><label>Street:</label></td> <td><input class="form-control input-width-large" type="text" ng-model="cases.street" placeholder="" style="display: block; margin-top: 6px;" value="street" readonly></td>
                                                </tr>
                                                
                                            </table>
                                           
                                            	<div class="widget-header infoheader">
													<h4>Add Assistance </h4>
												</div>
												
												
                                            <table class="case-reg caseDetails" width="100%">
                                            	<!-- <tr>
                                                	<th colspan="2" width="200">Add Assistance</th>
                                                </tr> -->
                                                <tr>
                                                	<td width="25%"><label>Add sub case to case No  :</label></td> <td><label>{{caseId}}</label></td>
                                                </tr>
                                                <tr>
                                                	 <td><label>Sub Case Number  :</label></td> <td><label>{{subCaseId}}</label></td> 
                                                </tr>
                                              
                                           </table>
                                        	</div>
                                        	
                                        	<div class="col-md-3"><h5>Case Registered Faults</h5>
						                    	<ul class="case-reg" >
						                    			<li ng-repeat="fault in faults">
						                        			<input type="checkbox" class="caseFaultschk" name="faultId" ng-model="fault.checked"  ng-disabled="true" ng-checked="fault.checked" ng-required="fault.checked" /> 
						                        			<label for="{{fault.caseFaultId}}">{{fault.caseFaultDesc}}</label> 
						                        		</li>
						                        </ul>
						                    </div>
                    
                   
						                    <div class="col-md-3"><h5>Case Registered Services</h5>
						                    	<ul class="case-reg" >
						                        	<li ng-repeat="service in lisOfServices">
						                        		<input type="checkbox" class="caseFaultschk" name="serviceId" ng-model="service.checked" ng-click="updateSelectedServiceId(service.caseServiceId,subCaseId,service.caseFaultId,service.caseServiceDesc,service.checked)" value="service.checked" ng-required="service.checked"/> 
						                        		<label for="{{service.caseServiceId}}">{{service.caseServiceDesc}}</label> 
						                        	</li>
						                        </ul>
						                    </div>
											
											<div class="col-md-12">
                                        	<table>
                                            	<tr>
                                                	<td width="25%">Service Description:</td> <td><textarea cols="50" ng-model="cases.serviceDescription" value="" ng-required="true" ></textarea></td>
                                                </tr>
                                                <tr >
		                                             <td colspan="2">
		                                                <span style="float: left; width: 100%; text-align: center; padding: 10px;" >
															<input type="submit" value="Update" ng-if="selectedSubCaseIndex != -1" class="btn btn-primary" ng-click="updateCaseRegisteredfaults(cases);" />
														</span>
													</td>
                                                </tr>
                                            </table>
                                        </div>
                                    
                                        <!-- table to list sub case info -->
                                        <div class="col-md-12" >
                                        	<table class="table table-striped table-bordered table-hover table-responsive" style="margin-bottom: 20px !important;">
                                                <thead>
													<tr>
														<th>Case No</th>
														<th>SubCase No</th>
														<th>Reg Fault</th>
														<th>Reg Service</th>
														<th>SubCase Reg Date Time</th>								
													</tr>
												</thead>
												<tbody>
		                                            <tr class="redc" ng-repeat="subcase in subcasesList">
		                                            	<td align="center" >{{subcase.subcaseId}}</td> 
		                                            	<!-- <td><a href="#" ng-click="updateFaultService(subcase.subcaseId,subcase.faultName,subcase.caseRegisteredFaultID,$index)">{{subcase.subCaseNumber}}</a></td> --> 
		                                            	<td>{{subcase.subCaseNumber}}</td>
		                                            	<td>{{subcase.faultName}}</td> 
		                                            	<td>{{subcase.FaultServiceName}}</td> 
		                                            	<td>{{subcase.createdAt | date:'yyyy-MM-dd'}}</td> 
		                                            	 
		                                            </tr>
	                                           </tbody>
                                               
                                            </table>
                                        </div>
                                        
                                        <div class="col-md-12">
                                        	<table style="margin:auto;">
                                                <tr>
		                                             <td>
		                                                <span style="float: left; width: 100%; text-align: center; padding: 10px;" ng-show="!isTowingRequired">
															<input type="button" value="Done" class="btn btn-primary" ng-click="redirectToAddDestination();" />
														</span>
														<span style="float: left; width: 100%; text-align: center; padding: 10px;" ng-show="isTowingRequired">
															<input type="button" value="Add Destination Location" class="btn btn-primary" ng-click="redirectToAddDestination();" />
														</span>
													</td>
                                                </tr>
                                            </table>
                                        </div>
                                        	
							 </div>
						 <div style="clear:both;"></div>
				</div>
</div>
</div> 
</div> 
        
  