	
	
			<div class="container"  style="float: left;width: 100%;" ng-init="initListOfReports()">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<!-- <li><i class="glyphicon glyphicon-home"></i> <a href="#/caseschedule">Case List</a>
						</li> -->
					</ul>
					
				</div>
				<!-- /Breadcrumbs line -->
	
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>Reports List</h3>
					</div>
				</div>
				<!-- /Page Header -->
				
				<div class="alert fade in alert-danger" ng-show="!isValidated">
							 		<i class="glyphicon glyphicon-remove"></i>
								{{serviceMessage}}
					</div> 
				<!--=== Page Content ===-->
				<div class="row">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4>
									<!-- <i class="icon-reorder"></i> --> Reports List
								</h4>
								<div class="toolbar no-padding">
									<div class="btn-group">
										<!-- <span class="btn btn-xs widget-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span> -->
									</div>
								</div>
							</div>
							<div class="widget-content">
									<table class="table table-striped table-bordered table-hover table-checkable datatable">
									<thead>
										<tr>
											
											<th  class="td_th_alignment_nowrap">Report Name</th>
											<th  class="td_th_alignment_nowrap">Report Module</th>
										    <th  class="td_th_alignment_nowrap"></th>
										</tr>
									</thead>
									
									<tbody>
										<tr class="redc" ng-repeat="report in reportsList">
											
											<td  class="td_th_alignment_nowrap"><a href="#/reports/{{report.reportId}}">{{report.reportName}}</a></td>
											<td  class="td_th_alignment_nowrap">{{report.reportTableName}}</td>
											<td  class="td_th_alignment_nowrap"><input type="button" value="Delete Report" 
												class="btn btn-primary pull-right" ng-click="deleteReport(report.reportId,$index)"
												style="margin: 10px;"> </td>
											
										</tr>
									</tbody>
								</table>
								 <input type="button" value="Export to CSV" class="btn btn-primary pull-right" csv-header="getHeader()"  ng-show="reportList.length>0" ng-csv="reportList" filename="{{ filename }}.csv" field-separator="," decimal-separator="." style="margin: 10px;" >
								<!-- content -->
								<table class="table table-striped table-bordered table-hover table-checkable datatable" ng-show="canShowTable">
											<thead>
												<tr>
													<th ng-repeat="column in coumnNameArray">{{column}}</th>
												</tr>
											</thead>
											<tbody id="reportRow">
												
											</tbody>
										</table>
								
								<pagination boundary-links="true" total-items="totalItems"  items-per-page="maxSize"
									 max-size="maxvisiblepagesSize" ng-show="totalItems>0"
									 ng-model="currentPage"
									class="pagination-sm" previous-text="&lsaquo;"
									next-text="&rsaquo;" ng-change="pageChanged()"
									first-text="&laquo;" last-text="&raquo;"></pagination>
									
									
											</div>
										
					

									</div>
									<!-- /.row -->
							
					</div>
					<!-- /Page Content -->
				</div>
				
	
</div>
