<div class="container" style="float: left;width: 100%;" >
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<li>
							<i class="glyphicon glyphicon-home"></i>
							<a href="#/caseschedule">Case Schedule</a>
						</li>
					</ul>
				</div>
				<!-- /Breadcrumbs line -->
<div class="page-header">
					<div class="page-title">
						<h3>Update Role</h3>
					</div>
		</div>		
		<div class="alert fade in alert-danger" ng-show="!isValidated">
					 		<i class="glyphicon glyphicon-remove-sign" ></i>
						{{serviceMessage}}
    	</div> 
	
	<div class="alert fade in alert-success" ng-show="onSuccess">
					 		<i class="glyphicon glyphicon-ok" ></i>
						{{serviceMessage}}
			</div> 
			<div class="row" >
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<!-- <h4><i class="icon-reorder"></i> --> Update Role</h4>
							</div>
							
							<!-- content -->
 							<div class="widget-content clearfix" >
 							<table width="100%" cellspacing="0" class="vreg" >
									<tr>
										<td style="width:40%;">Role Name:</td>
										<td><input class="form-control input-width-large"
											type="text" ng-model="role.roleName" ng-required="true"
											placeholder="" name="roleName" id="roleName" 
											style="display: block; margin-top: 6px;" 
											ng-maxlength="20" /> 
										</td> 
										</tr>
									<tr>

										<td>Role Description:</td>
										<td>
											<textarea	style="width: 212px;resize:none" ng-model="role.roleDescription" name="roleDescription"
			                                 ng-required="true"></textarea>
										<td>
									
									</tr>
									<tr>
										<td>Display Name:</td>
										<td><input class="form-control input-width-large"
											type="text" ng-model="role.displayName" ng-required="true"
											placeholder="" name="displayName" id="displayName" 
											style="display: block; margin-top: 6px;" 
											ng-maxlength="20" /> 
										</td> 
									</tr>
									
								</table>
								
								 <table id="dynamicListOfRoles" class="table table-striped table-bordered table-hover table-checkable datatable" >
                                      <thead>
                                        	<tr>
                                            	<th>Module Name </th> 
                                            	<th>View</th> 
                                            	<th>Add</th>
                                            	<th>Edit</th>  
                                            	<th>Delete</th> 
                                            	 
                                            </tr>
                                      </thead>
                                      <tbody>
                                            <tr class="redc" ng-repeat="roles in listOfRoles" >
                                            	<td align="center">{{ roles.moduleName }}</td> 
                                            	<td><input id="canView" type="checkbox" ng-model="roles.canView"/></td> 
                                            	<td><input id="canAdd" type="checkbox" ng-model="roles.canAdd"/></td> 
                                            	<td><input id="canEdit" type="checkbox" ng-model="roles.canEdit"/></td>
                                            	<td><input id="canDelete" type="checkbox" ng-model="roles.canDelete"/></td>
                                            </tr>
                                           </tbody>  
                                        </table> 

								<div style="float: right;width: 55%;padding-top: 10px;">
									<span >
									<input type="button" value="Back" class="btn btn-primary" ng-click="redirectToList();" /></span>
									<input type="submit" value="Update" class="btn btn-primary" ng-click="updateRole(role);" /></span>
									<br />
								</div>
								
     						</div>
     						<!-- content -->
					</div>
				</div>
				<!--=== Page Content ===-->
				</div>
			</div>
			<!-- /.container -->
